{% extends "layout/layout.twig" %}

{% block pageContent %}
<section class="section">
        <h1 class="title is-1">About me</h1>
        <div class="block">
          <figure class="image is-128x128">
            <img class="is-rounded" src="#">
          </figure>
          <h3 class="title is-3">Who am i?</h3>
          <p>Hi there, I am <strong>Julie Lauwers</strong> also know as <strong>Pinkie</strong>, I am 19 years old and currently studing at the college Odisee in Ghent, but I live in Aalst. My hobbies are gaming, photography and zumba.</p>
        </div>
        <div class="block">
          <h3 class="title is-3">Why photography?</h3>
          <p>I love to go outside and take my camera with me and if I spot a nice view I snap a picture of it. I made this website to showcase the pictures I have taken and show others what I see sometimes.</p>
        </div>
      </section>
{% endblock %}