<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="../../../scss/style.scss"> 
    <title>Pinkies Photography | {{header}}</title>


  </head>
  <body>
  <header>
 <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../img/PinkiesPhotography.jpg" width="50" height="50">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>

      <a href="/gallery" class="navbar-item">
        Galerij
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Meer
        </a>

        <div class="navbar-dropdown">
          <a href="/about" class="navbar-item">
            About
          </a>
          <a href="/contact" class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        {% if loggedIn %}
        {% if userRole == 'admin' %}
        <a href="/admin" class="button is-info">
            <strong>Admin</strong>
        </a>
        {% endif %}  
        <a href="/profile" class="button is-info">
            <strong>{{ username }}</strong>
          </a>
          <a href="/logout" class="button is-light">
            Logout
          </a>
        {% else %}
          <a href="/register" class="button is-info">
            <strong>Registreer</strong>
          </a>
          <a href="/login" class="button is-light">
            Log in
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
<main>
  {%  block pageContent %}

  {% endblock %}
</main>
  <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Pinkies Photography</strong> by Julie Lauwers. The photos are made by Julie Lauwers.
          </p>
        </div>
      </footer>

<script src="../../../js/index.js"></script>
<script src="../../../js/burgerMenu.js"></script>

  </body>
</html>